services:
  db:
    container_name: postgres
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: spendalot
      PGDATA: /data/postgres
    env_file:
      - .env
    volumes:
      - db:/data/postgres
    ports:
      - "5332:5432"
networks:
  db:
    driver: bridge

volumes:
  db:
