ul.messages {
  margin-left: 2.5em;
  width: 90%;
}

ul.messages li {
  list-style-type: none;
}

td.description {
  width: 30em;
}

td.amount {
  width: 10em;
}

td.category {
  width: 20em;
}

.sub-header {
  font-size: 80%;
}
