ul.messages {
  margin-left: 2.5em;
  width: 90%;
}

ul.messages li {
  list-style-type: none;
}

td.description {
  width: 28em;
}

.amount {
  text-align: right;
  width: 5em;
}

td.category {
  width: 8em;
}

.sub-header {
  font-size: 80%;
}

div#expenses {
  width: 75%;
}

div#category-stats {
  position: absolute;
  left: 900px;
  top: 100px;
}
