{% extends "base.html" %}

{% block content %}
<h2>Trends</h2>

<form role="form" class="form-horizontal" action="{% url 'expenses:trends' %}" method="post">{% csrf_token %}
  <label for="id_description">{{ form.description.label }}</label>
  {{ form.description }}
  {{ form.description.errors }}
  <button type="submit" class="btn btn-default">Search</button>
</form>

<p>
  <b>Count:</b> {{ expenses.count }}
</p>

<table class="table table-striped table-condensed">
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Category</th>
    <th class="amount">Amount</th>
  </tr>
  {% for expense in expenses %}
  <tr>
    <td>{{ expense.date }}</td>
    <td>{{ expense.description }}</td>
    <td>{{ expense.category }}</td>
    <td class="amount">{{ expense.amount }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
